<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <div class="track" itemscope itemtype="http://schema.org/MusicRecording">
            <span class="track-name" itemprop="name">Parrot Power</span>

        Длительность: 
            <meta itemprop="duration" content="PT6M33S" />6:33 – 11700 прослушиваний
            <meta itemprop="interactionCount" content="UserPlays:11700"/>
            
           <a href="parrot-family-parrotpower-link.html" itemprop="url">Ссылка</a>
           <a class="play-button" href="parrot-family-parrotpower-play.html" itemprop="audio">Воспроизвести</a>
           <a class="buy-button" href="parrot-family-parrotpower-buy.html" itemprop="offers">Купить</a>

        Из альбома: <a class="album-name" href="parrot-family-yellow-album.html" itemprop="inAlbum">
                      The Yellow Album
                    </a>

    </div>

</body>
</html>